# {{ ansible_managed }}
[Unit]
Description=Run ansible-pull
After=network.target

[Service]
{% for env_var_name, env_var_value in ansible_pull_service_environment.items() %}
Environment={{ env_var_name }}={{ env_var_value }}
{% endfor %}
ExecStart=/usr/bin/ansible_pull_wrapper.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
